<h1>{{title}}</h1>

<div *ngFor="let currentRecipe of recipes">
  
  <a class="waves-effect waves-light btn modal-trigger" href="#{{currentRecipe.name}}">{{currentRecipe.name}}</a>
  <div id="{{currentRecipe.name}}" class="modal">
    <div class="modal-content">
    <ul>
      <li *ngFor="let ingredient of currentRecipe.ingredients">{{ingredient}}</li>
    </ul>
    <ol>
      <li *ngFor="let direction of currentRecipe.directions" id="direction">{{direction}}</li>
    </ol>
    </div>
  </div>

<br><br>
</div>

